/* roboto-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
       url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
       url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
}

/*"Helvetica Neue", Helvetica, Arial, */

/* roboto-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
       url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
}

body {
  font-family:'Playfair Display', serif;
  color: lavender;
}

h1,h2,h3 {
  font-family: "Playfair Display", serif;
  color: lavender;   
}

code {
  font-family: "Playfair Display", serif;
  color: lavender;
}
